DPDAppWpf/Connected Services/DPDOrder/order2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dpd.ru/ws/order2/2012-04-04" targetNamespace="http://dpd.ru/ws/order2/2012-04-04" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WSFault" type="tns:WSFault" />
  <xs:element name="addAirwayBill" type="tns:addAirwayBill" />
  <xs:element name="addAirwayBillResponse" type="tns:addAirwayBillResponse" />
  <xs:element name="addParcels" type="tns:addParcels" />
  <xs:element name="addParcelsResponse" type="tns:addParcelsResponse" />
  <xs:element name="cancelOrder" type="tns:cancelOrder" />
  <xs:element name="cancelOrderResponse" type="tns:cancelOrderResponse" />
  <xs:element name="changeDeliveryDate" type="tns:changeDeliveryDate" />
  <xs:element name="changeDeliveryDateResponse" type="tns:changeDeliveryDateResponse" />
  <xs:element name="changeUnitLoad" type="tns:changeUnitLoad" />
  <xs:element name="changeUnitLoadResponse" type="tns:changeUnitLoadResponse" />
  <xs:element name="createAddress" type="tns:createAddress" />
  <xs:element name="createAddressResponse" type="tns:createAddressResponse" />
  <xs:element name="createOrder" type="tns:createOrder" />
  <xs:element name="createOrderAsync" type="tns:createOrderAsync" />
  <xs:element name="createOrderAsyncResponse" type="tns:createOrderAsyncResponse" />
  <xs:element name="createOrderResponse" type="tns:createOrderResponse" />
  <xs:element name="createOrderResult" type="tns:createOrderResult" />
  <xs:element name="createOrderResultResponse" type="tns:createOrderResultResponse" />
  <xs:element name="getInvoiceFile" type="tns:getInvoiceFile" />
  <xs:element name="getInvoiceFileResponse" type="tns:getInvoiceFileResponse" />
  <xs:element name="getOrderSMS" type="tns:getOrderSMS" />
  <xs:element name="getOrderSMSResponse" type="tns:getOrderSMSResponse" />
  <xs:element name="getOrderStatus" type="tns:getOrderStatus" />
  <xs:element name="getOrderStatusResponse" type="tns:getOrderStatusResponse" />
  <xs:element name="getRegisterFile" type="tns:getRegisterFile" />
  <xs:element name="getRegisterFileResponse" type="tns:getRegisterFileResponse" />
  <xs:element name="orderReDirect" type="tns:orderReDirect" />
  <xs:element name="orderReDirectResponse" type="tns:orderReDirectResponse" />
  <xs:element name="removeParcels" type="tns:removeParcels" />
  <xs:element name="removeParcelsResponse" type="tns:removeParcelsResponse" />
  <xs:element name="updateAddress" type="tns:updateAddress" />
  <xs:element name="updateAddressResponse" type="tns:updateAddressResponse" />
  <xs:complexType name="createOrderResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="orders" type="tns:asyncRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asyncRequest">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="taskId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="auth">
    <xs:sequence>
      <xs:element name="clientNumber" type="xs:long" />
      <xs:element name="clientKey" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createOrderResultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dpdOrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderNumberInternal" type="xs:string" />
      <xs:element minOccurs="0" name="orderNum" type="xs:string" />
      <xs:element name="status" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderSMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:dpdOrderSmsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrderSmsRequest">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element maxOccurs="unbounded" name="order" type="tns:orderNum" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderNum">
    <xs:sequence>
      <xs:element name="orderNum" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderSMSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdOrderSmsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrderSmsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="order" type="tns:dpdOrderSmsStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrderSmsStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderNum" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changeDeliveryDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:dpdChangeDeliveryDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdChangeDeliveryDate">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element maxOccurs="unbounded" name="order" type="tns:orderDeliveryDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderDeliveryDate">
    <xs:sequence>
      <xs:element name="orderNum" type="xs:string" />
      <xs:element name="newDeliveryDate" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changeDeliveryDateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dpdOrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="orders" type="tns:dpdOrdersData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrdersData">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="header" type="tns:header" />
      <xs:element maxOccurs="unbounded" name="order" type="tns:order" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="header">
    <xs:sequence>
      <xs:element name="datePickup" type="xs:date" />
      <xs:element minOccurs="0" name="payer" type="xs:long" />
      <xs:element name="senderAddress" type="tns:address" />
      <xs:element minOccurs="0" name="pickupTimePeriod" type="xs:string" />
      <xs:element minOccurs="0" name="regularNum" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="terminalCode" type="xs:string" />
      <xs:element minOccurs="0" name="addressString" type="xs:string" />
      <xs:element minOccurs="0" name="countryName" type="xs:string" />
      <xs:element minOccurs="0" name="index" type="xs:string" />
      <xs:element minOccurs="0" name="region" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="street" type="xs:string" />
      <xs:element minOccurs="0" name="streetAbbr" type="xs:string" />
      <xs:element minOccurs="0" name="house" type="xs:string" />
      <xs:element minOccurs="0" name="houseKorpus" type="xs:string" />
      <xs:element minOccurs="0" name="str" type="xs:string" />
      <xs:element minOccurs="0" name="vlad" type="xs:string" />
      <xs:element minOccurs="0" name="extraInfo" type="xs:string" />
      <xs:element minOccurs="0" name="office" type="xs:string" />
      <xs:element minOccurs="0" name="flat" type="xs:string" />
      <xs:element minOccurs="0" name="workTimeFrom" type="xs:string" />
      <xs:element minOccurs="0" name="workTimeTo" type="xs:string" />
      <xs:element minOccurs="0" name="dinnerTimeFrom" type="xs:string" />
      <xs:element minOccurs="0" name="dinnerTimeTo" type="xs:string" />
      <xs:element minOccurs="0" name="contactFio" type="xs:string" />
      <xs:element minOccurs="0" name="contactPhone" type="xs:string" />
      <xs:element minOccurs="0" name="contactEmail" type="xs:string" />
      <xs:element minOccurs="0" name="instructions" type="xs:string" />
      <xs:element minOccurs="0" name="needPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="orderNumberInternal" type="xs:string" />
      <xs:element name="serviceCode" type="xs:string" />
      <xs:element name="serviceVariant" type="xs:string" />
      <xs:element name="cargoNumPack" type="xs:int" />
      <xs:element name="cargoWeight" type="xs:double" />
      <xs:element minOccurs="0" name="cargoVolume" type="xs:double" />
      <xs:element name="cargoRegistered" type="xs:boolean" />
      <xs:element minOccurs="0" name="cargoValue" type="xs:double" />
      <xs:element name="cargoCategory" type="xs:string" />
      <xs:element minOccurs="0" name="deliveryTimePeriod" type="xs:string" />
      <xs:element minOccurs="0" name="paymentType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="extraParam" nillable="true" type="tns:parameter" />
      <xs:element minOccurs="0" name="dataInt" type="tns:dataInternational" />
      <xs:element name="receiverAddress" type="tns:address" />
      <xs:element minOccurs="0" name="returnAddress" type="tns:address" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="extraService" nillable="true" type="tns:extraService" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parcel" nillable="true" type="tns:parcel" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="unitLoad" nillable="true" type="tns:unitLoad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameter">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataInternational">
    <xs:sequence>
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="currencyDeclaredValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extraService">
    <xs:sequence>
      <xs:element name="esCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="param" nillable="true" type="tns:parameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parcel">
    <xs:sequence>
      <xs:element name="number" type="xs:string" />
      <xs:element minOccurs="0" name="dpdParcelNumber" type="xs:long" />
      <xs:element minOccurs="0" name="number_for_print" type="xs:string" />
      <xs:element minOccurs="0" name="box_needed" type="xs:int" />
      <xs:element minOccurs="0" name="weight" type="xs:double" />
      <xs:element minOccurs="0" name="length" type="xs:double" />
      <xs:element minOccurs="0" name="width" type="xs:double" />
      <xs:element minOccurs="0" name="height" type="xs:double" />
      <xs:element minOccurs="0" name="insuranceCost" type="xs:double" />
      <xs:element minOccurs="0" name="insuranceCostVat" type="xs:double" />
      <xs:element minOccurs="0" name="codAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="unitLoad">
    <xs:sequence>
      <xs:element minOccurs="0" name="article" type="xs:string" />
      <xs:element name="descript" type="xs:string" />
      <xs:element minOccurs="0" name="client_code" type="xs:string" />
      <xs:element minOccurs="0" name="declared_value" type="xs:string" />
      <xs:element minOccurs="0" name="parcel_num" type="xs:string" />
      <xs:element minOccurs="0" name="npp_amount" type="xs:string" />
      <xs:element minOccurs="0" name="vat_percent" type="xs:int" />
      <xs:element minOccurs="0" name="without_vat" type="xs:boolean" />
      <xs:element name="count" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dpdOrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="tns:dpdClientAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdClientAddress">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="clientAddress" type="tns:clientAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientAddress">
    <xs:sequence>
      <xs:element name="code" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element minOccurs="0" name="addressString" type="xs:string" />
      <xs:element minOccurs="0" name="countryName" type="xs:string" />
      <xs:element minOccurs="0" name="index" type="xs:string" />
      <xs:element minOccurs="0" name="region" type="xs:string" />
      <xs:element name="city" type="xs:string" />
      <xs:element name="street" type="xs:string" />
      <xs:element minOccurs="0" name="streetAbbr" type="xs:string" />
      <xs:element minOccurs="0" name="house" type="xs:string" />
      <xs:element minOccurs="0" name="houseKorpus" type="xs:string" />
      <xs:element minOccurs="0" name="str" type="xs:string" />
      <xs:element minOccurs="0" name="vlad" type="xs:string" />
      <xs:element minOccurs="0" name="extraInfo" type="xs:string" />
      <xs:element minOccurs="0" name="office" type="xs:string" />
      <xs:element minOccurs="0" name="flat" type="xs:string" />
      <xs:element minOccurs="0" name="workTimeFrom" type="xs:string" />
      <xs:element minOccurs="0" name="workTimeTo" type="xs:string" />
      <xs:element minOccurs="0" name="dinnerTimeFrom" type="xs:string" />
      <xs:element minOccurs="0" name="dinnerTimeTo" type="xs:string" />
      <xs:element name="contactFio" type="xs:string" />
      <xs:element name="contactPhone" type="xs:string" />
      <xs:element minOccurs="0" name="contactEmail" type="xs:string" />
      <xs:element minOccurs="0" name="instructions" type="xs:string" />
      <xs:element minOccurs="0" name="needPass" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdClientAddressStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdClientAddressStatus">
    <xs:sequence>
      <xs:element name="code" type="xs:string" />
      <xs:element name="status" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="tns:dpdClientAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdClientAddressStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="orders" type="tns:dpdOrderCancellation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrderCancellation">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element maxOccurs="unbounded" name="cancel" type="tns:orderCancel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderCancel">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderNumberInternal" type="xs:string" />
      <xs:element minOccurs="0" name="orderNum" type="xs:string" />
      <xs:element minOccurs="0" name="pickupdate" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dpdOrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addParcels">
    <xs:sequence>
      <xs:element minOccurs="0" name="parcels" type="tns:dpdOrderCorrection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrderCorrection">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="orderNum" type="xs:string" />
      <xs:element minOccurs="0" name="orderNumberInternal" type="xs:string" />
      <xs:element minOccurs="0" name="cargoNumPack" type="xs:int" />
      <xs:element minOccurs="0" name="cargoWeight" type="xs:double" />
      <xs:element minOccurs="0" name="cargoVolume" type="xs:double" />
      <xs:element minOccurs="0" name="cargoValue" type="xs:double" />
      <xs:element minOccurs="0" name="cargoCategory" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parcel" nillable="true" type="tns:parcel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addParcelsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdOrderCorrectionStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrderCorrectionStatus">
    <xs:sequence>
      <xs:element name="orderNum" type="xs:string" />
      <xs:element name="status" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parcelStatus" nillable="true" type="tns:parcelStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parcelStatus">
    <xs:sequence>
      <xs:element name="number" type="xs:string" />
      <xs:element name="status" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderReDirect">
    <xs:sequence>
      <xs:element minOccurs="0" name="orders" type="tns:dpdOrdersReDirect" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrdersReDirect">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element maxOccurs="unbounded" name="order" type="tns:reDirectOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reDirectOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderNum" type="xs:string" />
      <xs:element minOccurs="0" name="datePickup" type="xs:date" />
      <xs:element minOccurs="0" name="reDirectionType" type="xs:string" />
      <xs:element minOccurs="0" name="pointCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderReDirectResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dpdOrderResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdOrderResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderNum" type="xs:string" />
      <xs:element minOccurs="0" name="statusCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changeUnitLoad">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:dpdUnitLoadChange" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdUnitLoadChange">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element maxOccurs="unbounded" name="order" type="tns:orderUnitLoad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderUnitLoad">
    <xs:sequence>
      <xs:element name="orderNum" type="xs:string" />
      <xs:element minOccurs="0" name="datePickup" type="xs:date" />
      <xs:element minOccurs="0" name="deliveryAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="goodsReturnAmount" type="xs:decimal" />
      <xs:element maxOccurs="unbounded" name="unitLoad" type="tns:unitLoad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changeUnitLoadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dpdOrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInvoiceFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:dpdGetInvoiceFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdGetInvoiceFile">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="orderNum" type="xs:string" />
      <xs:element minOccurs="0" name="parcelCount" type="xs:int" />
      <xs:element minOccurs="0" name="cargoValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInvoiceFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdInvoiceFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdInvoiceFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="file" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAirwayBill">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:dpdAirwayBillInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdAirwayBillInput">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element maxOccurs="unbounded" name="order" type="tns:orderAirbillInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderAirbillInput">
    <xs:sequence>
      <xs:element name="orderNumberDPD" type="xs:string" />
      <xs:element minOccurs="0" name="orderNumberInternal" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="param" type="tns:paramAirbill" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paramAirbill">
    <xs:sequence>
      <xs:element name="paramName" type="xs:string" />
      <xs:element name="paramValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAirwayBillResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdAirwayBillOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdAirwayBillOutput">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="order" type="tns:orderAirbillOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderAirbillOutput">
    <xs:sequence>
      <xs:element name="orderNumberDPD" type="xs:string" />
      <xs:element name="result" type="xs:string" />
      <xs:element minOccurs="0" name="errorCode" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeParcels">
    <xs:sequence>
      <xs:element minOccurs="0" name="parcels" type="tns:dpdOrderCorrection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeParcelsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdOrderCorrectionStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRegisterFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:dpdGetRegisterFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdGetRegisterFile">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element name="datePickup" type="xs:date" />
      <xs:element minOccurs="0" name="regularNum" type="xs:string" />
      <xs:element minOccurs="0" name="cityPickupId" type="xs:long" />
      <xs:element minOccurs="0" name="addressCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRegisterFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dpdRegisterFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdRegisterFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="file" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderStatus" type="tns:dpdGetOrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dpdGetOrderStatus">
    <xs:sequence>
      <xs:element name="auth" type="tns:auth" />
      <xs:element maxOccurs="unbounded" name="order" type="tns:internalOrderNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="internalOrderNumber">
    <xs:sequence>
      <xs:element name="orderNumberInternal" type="xs:string" />
      <xs:element minOccurs="0" name="datePickup" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dpdOrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createOrderAsync">
    <xs:sequence>
      <xs:element minOccurs="0" name="orders" type="tns:dpdOrdersData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createOrderAsyncResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:asyncResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asyncResponse">
    <xs:sequence>
      <xs:element name="taskId" type="xs:long" />
      <xs:element name="taskDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>